.title {
    font-size: 2em;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 60%;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
}

.form label {
    font-size: 0.8rem;
    font-weight: 400;
}

.form input {
    padding: 10px 12px;
    border-radius: 5px;
    border: 1px solid #bbb;
    width: 100%;
    /* max-width: 300px; */
}

.submitBtn {
    width: 100%;
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
    background-color: var(--nav-color);
    color: #fff;
    cursor: pointer;
    font-size: 1em;

}

.forgotPassword {
    margin-top: -5px;
    align-self: flex-end;
    font-size: 0.8rem;
    color: var(--alt-text-color);
    cursor: pointer;
    text-decoration: underline;
}

.signupText {
    margin-top: 10px;
    font-size: 0.8rem;
    color: var(--alt-text-color);
}

.signup {
    color: var(--nav-color);
    cursor: pointer;
    text-decoration: underline;
}

.errorText {
    color: #dc143c;
    text-align: center;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .form {
        width: 80%;
    }
}